<tr>
    <th class="text-left">视频标题</th>
    <th class="text-center">上传时间</th>
    <th>总播放量<div class="tooltip-inlineblock">
            <a href="#x" class="link"><i class="icon icon-help-gray"></i></a>
            <div class="tooltip tooltip-top" style="width: 350px; left: 50%; margin-left: -279px; top: 18px; display: none;">
                <div class="tooltip-arrow" style="left:100%;margin-left: -75px;"></div>
                <div class="tooltip-inner">
                    总播放量和天天快报、腾讯视频外显播放量存在差异（详情参见【<a target="_blank" href="https://kf.om.qq.com/detail/63090687-be3f-4c45-b1c6-1379ed43ccef">常见问题</a>】)
                </div>
            </div>
        </div></th>
    <!--<th class="text-center">推荐量</th>-->
    <th>分析</th>
</tr>

