<div login-block="login_select_block" class="login-panel" style="{{if showFlag===true}}display: block;{{/if}} {{if showFlag!==true}}display:none;{{/if}}">
    <div class="login-new-box">		
        <div class="logon-type-box clearFix">
            <div btn-type="weixin" class="logon-type">
                <div class="login-type-wechat"><img src="//om.gtimg.cn/om/om_2.0/images/login_type_wechat.png" alt=""></div>
                <div class="name">微信登录</div>
            </div>
            <div btn-type="qq" class="logon-type">
                <div class="login-type-qq"><img src="//om.gtimg.cn/om/om_2.0/images/login_type_qq.png" alt=""></div>
                <div class="name">QQ登录</div>
            </div>
        </div>
        <div btn-type="email" class="other-type">手机/邮箱登录</div>
        <div class="register-qehao">注册企鹅号</div>
    </div>
</div>