<div class="photo-gallery-search">
    <div class="search-form search-form-zbtk">
        <label class="input-control">
            <input type="text" class="input-text" value="{{searchText}}">
            <span class="placeholder">输入关键词，为您寻找相关素材</span>
        </label>
        <button type="button" doSearch class="btn btn-default"><i class="icon icon-search"></i>搜索</button>
        <span class="input-clear-btn" style="display:{{searchText!=''?'':'none'}}">
            <i class="icon icon-clear"></i>
        </span>
    </div>
</div>