<!-- 升级提示 -->
<div class="alert alert-upgrade">
    <div class="alert-left">
        <i class="icon icon-warning-xs"></i><strong class="text-title">提示：</strong>
    </div>
    <div class="alert-content">
        <span class="text">亲爱的企鹅号作者，检测到您当前使用的浏览器版本过低，可能影响部分功能。建议您升级浏览器或更换到<a target="_blank" href="https://www.baidu.com/s?wd=%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8">谷歌浏览器</a>。</span>

    </div>
    <div class="alert-close">
        <a href="javascript:void(0);" class="close">×</a>
    </div>
</div>
<!-- 升级提示 /-->