<style>
.pop {
    position: absolute;
    left: 50%;
    z-index: 999;
    margin-left: -330px;
    width: 660px;
    background: #fff;
    border-radius: 3px;
}
.pop-heading {
    margin: 0 40px;
    padding: 28px 0;
}

.bor-bottom {
    border-bottom: 1px solid #e9eef4;
}
.text-center {
    text-align: center!important;
}
.pop-body {
    margin: 0 40px;
    padding: 20px 0;
}
.pop-body .ycsm-form {
    margin-top: 0;
}

.pop-body .ycsm-form {
    position: relative;
    z-index: 2;
}
.ycsm-form {
    padding: 0 30px;
    margin-top: 35px;
}
.intro-box {
    position: relative;
}
.pop-body .ycsm-form .intro-box p {
    margin-top: 0;
}

.intro-box p {
    margin-top: 15px;
    margin-bottom: 25px;
    line-height: 26px;
}
</style>
<div class="pop" style="top: 10%;" id="bind-qq-pop">
    <div class="pop-heading text-center bor-bottom">
        <h4>温馨提示</h4>
    </div>
    <div class="pop-body">
        <div class="ycsm-form">
            <div class="intro-box" style="text-indent:2em;">
                    <p>尊敬的企鹅号创作者：为保障您的帐号安全，企鹅号平台正在进行登录方式优化，未来平台将仅保留QQ和微信登录方式，为防止影响您的正常登录运营，若您未绑定过QQ或微信的登录方式，请立即绑定QQ或微信的登录设置。若您已有可用QQ或微信登录方式，请使用QQ或微信重新登录。感谢您的理解与支持。</p>
            </div>
        </div>
        <!-- ycsm-form/ -->
    </div>
    <!-- pop-body/ -->
</div>