<div class="om-toolfixed">
    <div class="mod-doctor mod-doctor-status-1" style="display: none;z-index: 2;">
        <i class="mod-doctor-rest "></i>
        <div class="mod-doctor-bar mod-doctor-bar-1  ">
            <i class="mod-doctor-icon-blue"></i>
            <div class="mod-doctor-content mod-doctor-content-1 ">
                <span class="mod-doctor-text oneclickDiagnosis">内容诊断</span><i class="mod-doctor-arrow assis-shrink"></i>
            </div>
            <div class="mod-doctor-content mod-doctor-content-2">
                <span class="mod-doctor-text showResult">诊断结果</span>	
            </div>
            <div class="mod-doctor-content mod-doctor-content-3">
                <span class="mod-doctor-text showResult">诊断结果</span>
                <i class="mod-doctor-arrow assis-shrink"></i>
            </div>
        </div>
        <div class="tooltip-container tooltip tooltip-bottom tooltip-code-md zoomInRight" style="display: none;right: 48px;bottom:-220px;">
        </div>
    </div>
    <div class="pop-layer layer-guide link-assistant2-guide">
        
    </div>        
    <div class="link link-code">
        <div class="tooltip-inlineblock" style="cursor:default;">
            <i class="icon icon-code-h5" data-hover-report="21000,1,hover"></i>
            <div class="tooltip tooltip-right tooltip-code-md zoomInRight" style="right: 48px; bottom: -28px; display: none;">
                <!-- 追加tooltip-code-md,默认添加zoomInRight，鼠标mouseover的时候去掉zoomInRight，追加zoomOutRight -->
                <div class="tooltip-arrow" style="top:51px;"></div>
                <div class="tooltip-inner">
                    <div class="qrcode"><img src="//om.gtimg.cn/om/om_2.0/images/code_om.v3.png" alt="" class=""></div>
                    <div class="tooltip-content">
                        <h4>企鹅号微信公众号</h4>
                        <p>立刻扫码关注</p>
                        <p>查看运营数据，接收平台动态</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="link-list">
        <div class="link link-bubble">
            <div class="tooltip-inlineblock">
                <a href="" class="tooltip-link frequentQuest" target="_blank" data-hover-report="21000,3,hover">
                <i class="icon icon-faq"></i>
                </a>
                <div class="tooltip tooltip-right tooltip-code-md zoomInRight" style="width: 76px; right: 48px; bottom: -2px; display: none;">
                    <!--默认添加zoomInRight，鼠标mouseover的时候去掉zoomInRight，追加zoomOutRight -->
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">
                        <a href="" target="_blank" class="text frequentQuestInner">常见问题</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="link link-bubble">
            <div class="tooltip-inlineblock feedback">
                <a class="tooltip-link" data-hover-report="21000,6,hover">
                    <i class="icon icon-feedback"></i>
                    <span class="wake-mark" style="display: none;">●</span>
                </a>
                <div class="tooltip tooltip-right zoomInRight" style="width: 76px; right: 48px; bottom: -2px; display: none;">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">
                        <a href="javascript:;" class="text">在线客服</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="link link-bubble">
            <div class="tooltip-inlineblock complain">
                <a  href="/infringe/index" target="_blank"  class="tooltip-link" data-hover-report="21000,9,hover">
                    <i class="icon icon-tousu"></i>
                    <span class="wake-mark" style="display: none;">●</span>
                </a>
                <div class="tooltip tooltip-right zoomInRight" style="width: 76px; right: 48px; bottom: -2px; display: none;">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">
                        <a href="/infringe/index" target="_blank"  class="text">投诉举报</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="link link-link-gotop" style="display:none;">
            <div class="tooltip-inlineblock">
                <i class="icon icon-gotop"></i>
                <div class="tooltip tooltip-right zoomInRight" style="width: 76px; right: 48px; bottom: -2px; display: none;">
                    <!--默认添加zoomInRight，鼠标mouseover的时候去掉zoomInRight，追加zoomOutRight -->
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">
                        <a href="javascript:;" class="text">返回顶部</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="link-app">
        <div class="link-app-img">
            <img src="//om.gtimg.cn/om/om_3.0/images/weishi_code.png" alt="">
        </div>
        <p>扫码安装</p>
        <p>微视APP</p>
    </div>
</div>