<div class="tooltip tooltip-top tooltip-confirm layer-ext-om tips" id="tooltipConfirm">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner clearfix">
        <p class="text popoverContent">{{text}}</p>
        <div class="action">
            <button type="button" id="confirmLoading" class="btn btn-primary btn-sm btn-loading" style="display:none"><i class="icon-loader"></i>{{loadingText}}</button>
            <button type="button" id="confirmYes" class="btn btn-primary btn-sm" style="display: inline-block;">确定</button>
            <button type="button" id="confirmNo" class="btn btn-sm" style="display: inline-block; ">取消</button>
        </div>
    </div>
</div>