<div class="pop-body pop-body-lg no-t-p">

    <div class="upload-pic-mod b">
        <div type="button" class="btn btn-default  btn-upload-pic">
            <div class="uploadPlaceholder"></div>
            <i class="icon icon-up-pic"></i>选择图片
        </div>
        <!-- upload-btn/ -->

        <p class="info-help">一个月只能修改一次，请勿使用低俗图片、二维码、其他机构(或个人)标识等涉嫌侵权或误导用户的头像，支持：jpg、jpeg、png格式，大小5M以内</p>

        <div class="upload-pic-row clearfix">

            <div class="upload-pic lg">
                <div class="upload-pic-content" style="text-align: center;">
                    <span class="text-null">暂无图片</span>
                    <img id="{{imageOriginalId}}"   style="display: none;" alt="">
                </div>
            </div>

            <div class="upload-pic sm">
                <h4>预览</h4>

                <div class="upload-pic-content square">
                    <span class="text-null">暂无图片</span>
                    <img id="{{imageSquareId}}"   style="display: none;" alt="">
                </div>

                <div class="upload-pic-content circle">
                    <span class="text-null">暂无图片</span>
                    <img id="{{imageCircleId}}"   style="display: none;" alt="">
                </div>

            </div>

        </div>
        <!-- upload-pic-row/ -->

    </div>
    <!-- upload-cover-mod/ -->

</div>
<!-- pop-body/ -->