<div class="pop-body">
    <div class="upload-pic-mod">
        <div class="upload-pic-row clearfix">
            <div class="upload-pic lg">
                <div class="upload-pic-content">
                    <img style="display:block;width:100%" id="magic-origin" alt="">
                </div>
            </div>
            <div class="upload-pic sm">
                <h5>预览</h5>
                <div class="upload-pic-content">
                    <img style="display:block;width:100%;" id="magic-preview" alt="">
                </div>
            </div>
        </div>
        <div class="checkbox-autobeautiful">
            <div class="checkbox-item text-left">
                <label class="ui-checkbox">
                    <input type="checkbox" checked="checked">
                    <i class="icon icon-checkbox checkbox-active"></i>自动美化
                </label>
                <span class="help-block">（清晰、贴题的封面有助于文章推荐和阅读）</span>
            </div>
        </div>
    </div>
</div>