<div class="pop-body pop-body-lg pop-body-insert-url">
    <div class="tab-inline search-tab-inline clearfix" id="linktab">
        <ul class="tab clearfix">
            <li class="active" rel="om"><span class="tab-text">企鹅号内容</span></li>
            <li rel="gongyi" style="display:none;"><span class="tab-text">腾讯公益</span></li>
            <li rel="outlink" style="display:none;"><span class="tab-text">外链推广</span></li>
        </ul>
        <div class="search-form ">
            <label class="input-control">
                <input type="text" class="input-text">
                <span class="placeholder">请输入关键字</span>
            </label>
            <button type="button" class="btn btn-default"><i class="icon icon-search"></i>搜索</button>
            <span class="input-clear-btn"><i class="icon icon-clear" style="display:none;"></i></span>
        </div>
    </div>
    <div class="table-inserturl-wrap" id="con-outlink" style="display: none;">
    </div>
    <div class="table-inserturl-wrap" id="con-normal">
        <table class="table table-inserturl table-inserturl-thead">
            <thead>
                <tr>
                    <th class="cell-urlname">链接标题</th>
                    <th class="cell-urlstatus">链接来源</th>
                    <th class="cell-urldatetime">发表时间</th>
                    <th class="cell-urlaction">操作</th>
                </tr>
            </thead>
        </table>
        <div class="null-mod" style="display: none;">
            <p><i class="icon icon-null-link"></i></p>
            <p>没有符合条件的链接</p>
        </div>
        
        <div class="null-loading" style="background-color: white;display: none;"></div>
        <div class="insert-url-body scroll-theme" style="display: none;">
            <table class="table table-inserturl table-inserturl-tbody">
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="insert-url-tool clearfix" id="dialogLinkInput" style="display:none;">
        <div class="insert-url-form">
            <div class="form-group clearfix">
                <div class="form-label">超链接文本</div>
                <label class="input-control input-control-counter">
                    <input type="text" class="input-text" value="" id="linktitle">
                    <span class="placeholder" style="display: ;">请在这里输入超链接文本</span>
                    <div class="count"><em>0</em>/40</div>
                </label>
            </div>
        </div>
    </div>
</div>