<tr data="{{data}}">
    <td class="cell-radio">
        <label class="ui-radio" data-action="select"><i class="icon icon-radio"></i> </label>
    </td>
    <td class="cell-music">
        <h5 class="text-music-name">{{songname}}</h5>
        <p class="text-music-artist">{{albumname}} - {{singername}}</p>
    </td>
    <td>{{size}}</td>
    <td class="cell-sizes">{{duration}}</td>
    <td class="cell-play">
        <a href="#x" class="link">
            <i data-action="play" class="icon icon-play-music"></i>
        <i data-action="pause" class="icon icon-music-playing" style="display:none;"></i></a>
    </td>
</tr>