<div class="pop-layer layer-guide" style="z-index:99999999;">
    <div class="pop-mask"></div>
    <div class="pop-guide1 pop-guide1-imgs">   
        <div class="guide-imgs-tab">    
            <a href="#" class="text wake">正文图库<span class="wake-mark">●</span></a>        
        </div> 
        <!-- 热点图库TAB -->
        <img src="//om.gtimg.cn/om/om_2.0/images/guide-arrow.png" alt="guide-arrow" class="guide-arrow"/>
        <div class="guide-txt1">
            <p class="context">            
                热点图库測试上线！更多正版实时热点图，助力您 创作出更出色的文章。 
            </p>           
            <div class="img-box">           
                <img src="//om.gtimg.cn/om/om_2.0/images/guide-img.png" alt="">
            </div>
        </div> 
        <!-- 热点图库指引内容 -->
    </div>
    <!-- pop/ -->
</div>
<!--热点图库指引蒙层 -->
