<div class="pop-body no-tb-p">
    <div class="insert-music-panel">
        <div class="insert-music-tool clearfix">
            <div class="search-form search-form-music pull-left">
                <label class="input-control">
                    <input type="text" class="input-text" id="music_kw">
                    <span class="placeholder">搜索歌名 / 歌手 / 专辑</span>
                </label>
                <button data-action="search" type="button" class="btn btn-default"><i class="icon icon-search"></i>搜索</button>
                <span data-action="clean" class="input-clear-btn"><i class="icon icon-clear"></i></span>
            </div>
            <div class="help-info pull-right clearfix"><img src="//om.gtimg.cn/om/om_2.0/images/qqmusic.png" alt="QQ音乐" class=" qqmusic-img" /><a href="http://y.qq.com/" target="_blank" class="support-txt">提供版权支持</a></div>
        </div>
        
        <div class="null-mod" style="display:none;">
            <p><i class="icon icon-null-music"></i></p>
            <p>暂无符合条件的音乐</p>
        </div>

        <div class="insert-music-body scroll-theme">
            <table class="table table-insert-music">
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>