<div class="pop-body pop-body-lg pop-inserthongbao">
    <p class="desc desc-1">在文中插入视频红包文字链，读者将在各平台通过点击红包免费领现金红包，请复制链接到微信打开查看视频效果。</p>
    <p class="desc desc-2">
            以下均为您的QQ<span class="light qq"></span>对应的微视帐号<span class="light weishiname"></span>或<span class="light">微视官方</span>帐号30天内发布的B2C视频红包<br>
            <a href="{{url}}" target="_blank">查看免费发红包攻略</a>
    </p>
    <div class="pop-insert-table" id="con-normal">
        <div class="pop-insert-table-thead">
            <table class="table ">
                <col>
                <col width="210">
                <col width="100">
                <thead>
                    <tr>
                        <th class="text-left">微视红包</th>
                        <th class="text-center">添加时间</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="null-mod" style="display: none;margin:0;padding-top:50px">
            <p><img src="//om.gtimg.cn/om/om_3.0/images/icon_hongbao_null.png" width="55"></p>
            <p style="line-height:24px">
                暂未找到B2C微视红包<br>
                <span style="font-size:12px">使用您绑定的QQ号，登录微视拍摄的B2C视频红包，将会同步在此展示</span>
            </p>
        </div>
        
        <div class="null-loading" style="background-color: white;display: none;"></div>

        <div class="pop-insert-table-tbody  scroll-theme" style="display: none;">
            <table class="table">
                <col>
                <col width="210">
                <col width="100">
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>

    <!-- pop-inserthongbao-table/ -->
    <div class="pop-inserthongbao-input" id="dialogBonusInput" style="display:none;">
        <label for="bonusDescInput" class="form-label">修改红包描述</label>
        <div class="form-control">
                <div class="input-control input-control-counter">
                    <input type="text" class="input-text" value="" id="bonusDescInput" placeholder="请在这里输入文本">
                    <div class="count"><em>4</em>/40</div>
                </div>
        </div>
    </div>

</div>