<div class="pop-body">
    <div class="form-horizontal bind-qq-form">

        <div class="form-alert text-dark">提示：解绑后将无法使用微信登录腾讯内容开放平台，24小时之后可重新绑定。</div>
        <form class="form-horizontal invite-qiehao-form" onsubmit="return false;">
            <div class="form-group">
                <div class="form-label">登录密码</div>
                <div class="form-control">
                    <label class="input-control">
                        <input type="password" class="input-text" placeholder="请输入登录密码来验证身份" name="omPassWord" value="">
                    </label>
                    <p class="help-block error"></p>
                </div>
            </div>
            <!-- form-group/ -->
        </form>
    </div>
</div>